.weather {
    display: inline-block;
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f9f9f9;
}

.weather-clear-day {
    background: linear-gradient(to bottom, rgba(33, 150, 243, 0.6), rgba(251, 192, 45, 0.6));
}

.weather-clear-night {
    background: linear-gradient(to bottom, rgba(0, 0, 102, 0.6), rgba(0, 0, 51, 0.6));
}

.weather-cloudy-day {
    background: linear-gradient(to bottom, rgba(176, 196, 222, 0.6), rgba(119, 136, 153, 0.6));
}

.weather-cloudy-night {
    background: linear-gradient(to bottom, rgba(100, 100, 100, 0.6), rgba(50, 50, 50, 0.6));
}

.weather-rainy-day {
    background: linear-gradient(to bottom, rgba(70, 130, 180, 0.6), rgba(112, 128, 144, 0.6));
}

.weather-rainy-night {
    background: linear-gradient(to bottom, rgba(0, 0, 128, 0.6), rgba(0, 0, 64, 0.6));
}

.weather-storm-day {
    background: linear-gradient(to bottom, rgba(128, 0, 128, 0.6), rgba(0, 0, 128, 0.6));
}

.weather-storm-night {
    background: linear-gradient(to bottom, rgba(64, 0, 64, 0.6), rgba(32, 0, 32, 0.6));
}

.weather-default-day {
    background: #f9f9f9;
}

.weather-default-night {
    background: #333;
    color: #fff;
}

.overview {
    margin-bottom: 20px;
}

.weather-temperature {
    display: flex;
    align-items: center;
}

.weather-temperature img {
    margin-right: 10px;
    height: 64px;
    width: 64px;
}

.weather-temperature strong {
    font-size: 64px;
    line-height: 1;
}

.units {
    font-size: 16px;
    position: relative;
    top: -34px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: rgb(135, 135, 135);
    font-size: 16px;
}

li {
    margin: 5px 0;
}

.forecast {
    margin-top: 20px;
}

.forecast .row {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.forecast-day {
    font-size: 16px;
    font-weight: bold;
}

.forecast-temp {
    font-size: 14px;
}

.forecast-temp .max {
    font-weight: bold;
}

.forecast-temp .min {
    opacity: 0.6;
}

.forecast-details {
    font-size: 12px;
    margin-top: 5px;
}

.unit-toggle {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.unit-toggle button {
    margin: 0 5px;
}